<h1>Castles#show</h1>

   <%= @Castle.name %>
   <%= @Castle.content %>
   <%= @Castle.region %>
   <%= @Castle.prefectures %>
   <%= @Castle.lord %>
   <%= @Castle.construction_year %>
   <%= @Castle.image %>
 
 <%= link_to "Back", castle_path %>
