<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h3 class="mt-3 mb-3">新規会員登録</h3>

        <hr>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-group row">

          <%= f.label :first_name, "", class: "col-md-5 col-form-label text-md-left" do %>
            性
            <span class="ml-1 castle-require-input-label">
              <span class="castle-require-input-label-text">必須</span>
            </span>
          <% end %>

          <div class="col-md-7">
            <%=
              f.text_field :first_name,
              class: "form-control #{"is-invalid" if resource.errors.messages[:first_name].present? } castle-login-input",
              autofocus: "true",
              required: "",
              autocomplete: "first_name",
              placeholder: "城"
            %>

            <% if resource.errors.messages[:first_name].present? %>
              <span class="castle-error-message">
                <strong><%= resource.errors.full_messages_for(:first_name).first %></strong>
              </span>
            <% end %>
          </div>
        </div>
        
        <div class="form-group row">
          <%= f.label :last_name, "", class: "col-md-5 col-form-label text-md-left" do %>
          名
            <span class="ml-1 castle-require-input-label">
              <span class="castle-require-input-label-text">必須</span>
            </span>
          <% end %>

          <div class="col-md-7">
            <%=
              f.text_field :last_name,
              class: "form-control #{"is-invalid" if resource.errors.messages[:last_name].present? } castle-login-input",
              autofocus: "true",
              required: "",
              autocomplete: "last_name",
              placeholder: "太郎"
            %>

            <% if resource.errors.messages[:last_name].present? %>
              <span class="castle-error-message">
                <strong><%= resource.errors.full_messages_for(:last_name).first %></strong>
              </span>
            <% end %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :email, "", class: "col-md-5 col-form-label text-md-left" do %>
          メールアドレス
            <span class="ml-1 castle-require-input-label">
              <span class="castle-require-input-label-text">必須</span>
            </span>
          <% end %>

          <div class="col-md-7">
            <%=
              f.email_field :email,
              class: "form-control #{"is-invalid" if resource.errors.messages[:email].present? } castle-login-input",
              autofocus: "true",
              required: "",
              autocomplete: "email",
              placeholder: "メールアドレス"
            %>

            <% if resource.errors.messages[:email].present? %>
              <span class="castle-error-message">
                <strong><%= resource.errors.full_messages_for(:email).first %></strong>
              </span>
            <% end %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :password, "", class: "col-md-5 col-form-label text-md-left" do %>
          パスワード
            <span class="ml-1 castle-require-input-label">
              <span class="castle-require-input-label-text">必須</span>
            </span>
          <% end %>

          <div class="col-md-7">
            <%=
              f.password_field :password,
              class: "form-control #{ "is-invalid" if resource.errors.messages[:password].present? } castle-login-input",
              autofocus: "true"
            %>
            <% if resource.errors.messages[:password].present? %>
            <span class="castle-error-message">
              <strong><%= resource.errors.full_messages_for(:password).first %></strong>
            </span>
            <% end %>
            </div>
          </div>

        <div class="form-group row">
          <%= f.label :password_confirmation, "", class: "col-md-5 col-form-label text-md-left" do %>
          <% end %>
          <div class="col-md-7">
            <%=
              f.password_field :password_confirmation,
              class: "form-control castle-login-input",
              autocomplete: "new-password"
            %>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn castle-submit-button w-100">
            アカウント作成
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
